body {
    font-family: 'Jost';
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0 0px;
}

p {
    margin: 0px 0 0px; 
}

nav {
    width: auto;
    height: 114px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 137px;
    height: 74px;
}

.link-list {
    display: flex;
    align-items: center;
    margin-right: 535px;
}

.link-list a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    
}

.link-list li {
    margin-right: 25px;
    display: inline;

}

.black-btn-nav {
    width: 168px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    margin-right: 16px;
}

.find-btn,
.cart-btn {
    border: none;
    background-color: transparent;
    margin-right: 16px;
}

header {
    width: auto;
    height: 864.19px;
    display: flex;
    margin-top: 46px;
}

.header-text {
    margin-left: 60px;
    margin-top: 116px;
}

span {
    display: inline-block;
    width: 136px;
    background-color: #E2B013;
    text-align: center;
    margin-bottom: 40px;
}
  
span p {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.header-text h1 {
  font-weight: 400;
  font-size: 96px;
  line-height: 86px;
  margin-bottom: 40px;
}

.header-text h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 25px;
  margin-bottom: 46px;
}

.zero-is {
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 86.5px;
}

.qualities {
  width: 522px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.qualities p {
  font-weight: 400;
  font-style: 10px;
  color: #333333;
}

.photo-1 {
  margin-right: 25px;
  margin-bottom: 117px;
}

.photo-2 {
  margin-left: 60px;
  margin-bottom: 65px;
  margin-top: 129px;
}

.second-block {
  height: 635px;
  display: flex;
  margin-bottom: 20px;
}

.second-text {
  width: 660px;
  height: 445px;
  margin-top: 102px;
  margin-left: 50px;
}

.second-text h1 {
  font-weight: 400;
  font-size: 96px;
  line-height: 86.4px;
  margin-bottom: 43px;
}

.second-text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 27.5px;
  margin-bottom: 28px;
}

.category {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 38px;
  padding: 9px 16px;
}

.categories-line {
  margin-bottom: 8px;
}

.landing-pages {
  height: 1342px;
  margin-left: 60px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  height: 65px;
  background-color: #000000;
  color: #ffffff;
  width: 431px;
  height: 65px;
  padding-top: 6px;
  padding-left: 30px;
  margin-bottom: 60px;
}


.inner-landing-pages {
  width: 1320px;
  height: 1017px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Дві колонки */
  gap: 46px; /* Відступи між блоками */
  padding: 20px; /* Внутрішні відступи для контейнера */
}

.prev-landing {
  width: 634px;
  height: 470px;
  background-color: #0000000A;
}

.prev-landing img,
.prev-company img {
  padding-top: 29px;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 17px;
}

.prev-landing h1,
.prev-company h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.5px;
  padding-left: 44px;
  padding-bottom: 31px;
  
}

.company-pages {
  margin-left: 60px;
  margin-bottom: 100px;
}

.inner-company-pages {
  width: 1320px;
  height: 1134px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Дві колонки */
  gap: 46px; /* Відступи між блоками */
  padding: 20px; /* Внутрішні відступи для контейнера */
}

.prev-company {
  width: 403px;
  height: 325px;
  background-color: #0000000A;
}

.cms-pages {
  height: 3208.41px;
  margin-left: 60px;
  margin-bottom: 100px;
}

.cms-pages h1 {
  width: 320px;
}

.utility-pages h1 {
  width: 229px;
}

.inner-utility-pages {
  width: 1320px;
  height: 1566px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Дві колонки */
  gap: 46px; /* Відступи між блоками */
  padding: 20px; /* Внутрішні відступи для контейнера */
}

.utility-pages {
  height: 1566px;
  width: 1332px;
  margin-left: 60px;
  margin-bottom: 100px;
}

.long {
  white-space: nowrap;
}

footer {
  height: 73px;
}

.inner-footer {
  width: 1300px;
  height: 509px;
  display: flex;
  padding-top: 60px;
  margin-left: 70px;
}

.inner-footer h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.inner-footer input {
  width: 380px;
  height: 35px;
}

.btn-icons {
  border: none;
  background-color: transparent;
}

.input-block {
  display: flex;
}

.input-btn {
  width: 120px;
  height: 40px;
  background-color: #000000;
  margin-right: 150px;
}

.sub {
  padding-bottom: 30px;
}

.input-block {
  padding-bottom: 199px;
}

.icons {
  padding-bottom: 194px;
}

.right-side-block {
display: flex;
}

.column h1,
.column ul {
    margin: 0; /* Зменшує відступи між елементами */
    padding: 0; /* Зменшує відступи між елементами */
}

.column ul {
    list-style: none; /* Вимикає маркери списку */
}

.link-list-footer {
  flex-direction: column;
  width: 200.66px;
  padding-right: 16px;
}

.link-list-footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.link-list-footer li {
  margin-bottom: 13px;
  margin-top: 13px;
}
